@import '../../../styles/_variables';
@import '../../../styles/_breakpoints';

.Post {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

.postEl {
  margin-right: 1rem;
  // border: 1px solid red;
  text-align: center;
}

.typeCircle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0.5rem;
  border-radius: 50%;
}

.postTitle {
  width: 350px;
  min-width: 315px;
  text-align: left;
}

@media (max-width: 600px) {
  .postTitle {
    min-width: 150px;
  }
}

.postType {
  min-width: 70px;
  display: none;
}

@media (min-width: 810px) {
  .postType {
    display: inline-block;
  }
}

.offerStyle {
  color: var(--dark1);
}

.requestStyle {
  color: var(--dark2);
}

.offerStyle:hover,
.requestStyle:hover {
  color: var(--black);
  // font-weight: bold;
}

.postComments {
  width: 120px;
  display: none;
}

@include tabletLandscape {
  .postComments {
    display: inline;
  }
}

.postUserName {
  min-width: 90px;
  display: none;
}

@include tabletPortrait {
  .postUserName {
    display: inline-block;
  }
}

.postDateFull {
  width: 120px;
  display: none;
  margin-right: 0;
}

.postDateTrim {
  width: 120px;
  min-width: 52px;
  display: inline-block;
  margin-right: 0;
}

// @media (min-width: 600px) {
//   .postDateTrim {
//     display: inline-block;
//   }
// }

// hide or show formatted date based on screen size

@include tabletLandscape {
  .postDateFull {
    display: inline-block;
  }

  .postDateTrim {
    display: none;
  }
}
