@import '../../../styles/_variables';
@import '../../../styles/breakpoints';

.messageListUl {
  text-align: center;
  position: relative;
  border: 2px solid var(--black);
  max-width: 600px;
  width: 90%;
  overflow-y: auto;
  margin: 0 auto 1rem;
}

.messagesAvatarImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  left: -1rem;
  top: 1rem;
}

.messagesWithHeader {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.noMessages {
  font-size: 1.2rem;
  margin: 2rem auto 3rem;
  padding: 0 1rem;
}

@include mobilePortrait {
    .messagesWithHeader {
        font-size: 1.5rem
    }
}

@include mobileLandscape {
    .messagesWithHeader {
        font-size: 2rem;
    }
}
