@import '../../../styles/_variables';
@import '../../../styles/breakpoints';

.messageListUl {
  text-align: center;
  position: relative;
  border: 2px solid var(--black);
  max-width: 600px;
  width: 90%;
//   max-height: 60vh;
//   height: 550px;
  overflow-y: auto;
  margin: 0 auto 1rem;
}

.messagesWithHeader {
  font-size: 2rem;
  margin-bottom: 1rem;
}
