@import '../../../styles/_breakpoints.scss';
@import '../../../styles/_variables.scss';

.userListItem {
  list-style-type: none;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  // max-width: 100%;
  margin: 0 auto;
  // background-color: var(--light2);
}

.neighbor {
  font-size: 1.2rem;
  color: var(--dark2);
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
    cursor: pointer;
  }
}
