@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.registrationSection {
  top: 60px;
  text-align: center;
  background: linear-gradient(
      rgba(88, 57, 154, 0),
      rgba(73, 57, 154, 0.3)
    )
    no-repeat center center fixed;
  min-height: 100%;
  top: 20px;
  position: absolute;
  width: 100%;
}

.registrationContainer {
  padding: 40px 0;
}
