@import '../../../../styles/_variables';
@import '../../../../styles/breakpoints';

.messageLi {
  margin-top: 1rem;
  list-style: none;
  border-radius: 1rem;
  position: relative;
  padding: 0.5rem;
}

.sentMessage {
  background-color: var(--light1);
  position: relative;
  right: 0;
  margin-left: 30%;
  max-width: 70%;
  word-wrap: break-word;
}

.receivedMessage {
  background-color: var(--light2);
  position: relative;
  left: 0;
  margin-right: 30%;
  max-width: 70%;
  word-wrap: break-word;
}

@include mobilePortrait {
  .sentMessage {
    margin-left: 35%;
    max-width: 65%;
  }

  .receivedMessage {
    margin-right: 35%;
    max-width: 65%;
  }
}

@include mobileLandscape {
  .sentMessage {
    margin-left: 40%;
    max-width: 60%;
  }

  .receivedMessage {
    margin-right: 40%;
    max-width: 60%;
  }
}

@include tabletPortrait {
  .sentMessage {
    margin-left: 45%;
    max-width: 55%;
  }

  .receivedMessage {
    margin-right: 45%;
    max-width: 55%;
  }
}

@include laptop {
  .sentMessage {
    margin-left: 50%;
    max-width: 50%;
  }

  .receivedMessage {
    margin-right: 50%;
    max-width: 50%;
  }
}

.deleteMessageButton {
  border: 0px;
  color: var(--warning);
}

.receivedMessage .deleteMessageButton {
  background-color: var(--light2);
  position: absolute;
  right: 1rem;
  top: 0.2rem;
}

.sentMessage .deleteMessageButton {
  background-color: var(--light1);
  position: absolute;
  top: 0.2rem;
  right: 1rem;
}
