@import '../../../../styles/_variables';
@import '../../../../styles/breakpoints';

.messageLi {
    margin-top: 1rem;
    list-style: none;
    width: 30rem;
    border-radius: 1rem;
    position: relative;
}

.sentMessage {
    background-color: var(--light1);
    margin-left: 40%;
}

.receivedMessage {
    background-color: var(--light2);
    margin-left: 10%;
}

.deleteMessageButton {
    border: 0px;
    color: red;
}

.receivedMessage .deleteMessageButton {
    background-color: var(--light2);
    position: absolute;
    right: 1rem;
    top: .2rem;
}

.sentMessage .deleteMessageButton {
    background-color: var(--light1);
    position: absolute;
    top: .2rem;
    right: 1rem;
}

.messageContent {
    margin-left: 2rem;
    margin-right: 2rem;
}

// .messageContent {
//     display: inline-block;
// }