@import '../../../../styles/_variables';
@import '../../../../styles/breakpoints';

.messageLi {
  margin-top: 1rem;
  list-style: none;
  border-radius: 1rem;
  position: relative;
  padding: .5rem;
}

.sentMessage {
  background-color: var(--light1);
  position: relative;
  right: 0;
  margin-left: 50%;
}

.receivedMessage {
  background-color: var(--light2);
  position: relative;
  left: 0;
  margin-right: 50%;
}

.deleteMessageButton {
  border: 0px;
  color: red;
}

.receivedMessage .deleteMessageButton {
  background-color: var(--light2);
  position: absolute;
  right: 1rem;
  top: 0.2rem;
}

.sentMessage .deleteMessageButton {
  background-color: var(--light1);
  position: absolute;
  top: 0.2rem;
  right: 1rem;
}
