@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.AddComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position: absolute;
  width: 100%;
  padding: 1rem 0 100px;
}

@include mobilePortrait {
  .AddComment {
    padding: 1rem 1rem 100px;
  }
}

.addCommentForm {
  border: solid 2px var(--black);
  text-align: center;
  width: 90%;
  max-width: 450px;
  padding: .5rem;
  margin: 0 auto 1.5rem;
  background-color: white;
}

@include mobilePortrait {
  .addCommentForm {
    margin: 0 auto 1.5rem;
    padding: 1rem;
  }
}

.addCommentContainer {
  top: 94px;
  position: relative;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}

@media (min-width: 600px) {
  .addCommentForm {
    width: 500px;
  }
}

.addCommentLabel,
.contentInput {
  display: block;
  margin-top: 1rem;
}

.addCommentLabel {
  margin-bottom: 1.5rem;
  color: var(--black);
  font-weight: 600;
}

.contentInput {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 1rem;
}

.dashboardLink {
  text-align: center;
  display: inline-block;
  text-align: center;
  transition: color 0.2s;
  &:hover, &focus {
    color: var(--dark1);
  }
}

.submitAddComment {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#backToPostButton {
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--black);
  font-family: 'Nunito', sans-serif;
}

#backToPostButton p {
  transition: 0.2s color;
  &:hover, &focus {
    color: var(--dark1);
  }
}
