@import '../../styles/_variables';
@import '../../styles/_breakpoints';

#ConfirmDialog {
  padding: 1rem;
  background-color: white;
  margin: 100px auto 0;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--black);
}

@include mobilePortrait {
  #ConfirmDialog {
    width: 80%;
    max-width: 450px;
    padding: 2rem;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  margin: 2rem auto 1rem;
}

@include mobilePortrait {
  .buttonGroup {
    flex-direction: row;
    margin: 2rem auto 1rem;
    width: 280px;
  }
}

.cancelButton,
.confirmButton {
  text-align: center;
  width: 120px;
  padding: 0.5rem 1.5rem;
  border: 2px solid var(--black);
  transition: background-color 0.2s;
  &:hover {
    cursor: pointer;
  }
}

.cancelButton:hover {
  background-color: var(--neutral);
}

.confirmButton {
  margin-bottom: 1.5rem;
  background-color: var(--light2);
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--warning);
  }
}

@include mobilePortrait {
  .confirmButton {
    margin: 0;
  }
}

.deleteButton {
  display: flex;
  justify-content: center;
}

.deleteText {
  transition: color 0.2s;
  text-align: center;
  &:hover {
    color: white;
  }
}

form {
  display: inline-block;
  margin: 0;
  padding: 0;
}
