:root {
  --black: #444;
  --dark1: #248271;
  --dark1b: #042b24;
  --light1: #d7faf3;
  --neutral: #fae7c3;
  --dark2: #6b559a;
  --dark2b: rgb(88, 57, 154);
  --light2: #dcd0f7;
  --white: #fff;
  --bright: #65fadd;
  --highlight: #fee3ff;
}

