@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.LoginForm {
  border: 2px solid var(--black);
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1.5rem 2rem;
  background-color: white;
  opacity: 1;
}

@include mobilePortrait {
  .LoginForm {
    padding: 0.5rem 2rem 2.5rem;
  }
}

.loginHeader {
  font-size: 1.5rem;
  color: var(--black);
  margin: 1.5rem auto;
}

.loginLabel {
  margin-bottom: 0.5rem;
}

.loginInput {
  margin-bottom: 0.5rem;
  width: 150px;
}

.loginButton {
  margin-bottom: 0.5rem;
}

.userNameDiv,
.passwordDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.passwordDiv {
  margin-bottom: 2rem;
}

.errorMessage {
  position: absolute;
  color: var(--warning);
  font-weight: bold;
  left: 50%;
  transform: translateX(-50%);
}
