@import '../../../../styles/_variables';
@import '../../../../styles/_breakpoints';

.Thread {
  list-style: none;
  text-align: center;
  border-bottom: 2px solid var(--black);
  position: relative;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  transition: background-color .2s;
  &:hover {
    background-color: var(--neutral);
    cursor: pointer;
  }
}

@include mobilePortrait {
  .Thread {
    padding: 1rem;
  }
}

.Thread:last-of-type {
    border-bottom: none;
}

.threadTitle {
  margin-bottom: 0.5rem;
  transition: color 0.2s;
  font-size: 1rem;
  width: 240px;
  margin: 0 auto .2rem;
}

@include mobilePortrait {
  .threadTitle {
    width: 100%;
    font-size: 1.3rem;
  }
}

.threadAvatarImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  // position: absolute;
  // left: 1rem;
}

.threadFlexDiv {
  display: flex;
  justify-content: space-around;
}

.deleteThreadButton {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  transition: color 0.2s;
  background-color: transparent;
  outline: none;
//   padding: 0.5rem;
  border: none;
  &:hover {
    color: var(--warning);
    cursor: pointer;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

@include mobilePortrait {
  .deleteThreadButton {
    right: 1.5rem;
  }
}

.deleteX {
  outline: none;
  background-color: transparent;
}

.lastMessage {
  color: var(--black);
  opacity: 0.8;
  font-size: .9rem;
}

@include mobilePortrait {
  .lastMessage {
    font-size: 1rem;
  }
}
