@import '../../../../styles/_variables';
@import '../../../../styles/_breakpoints';

.Thread {
  //   margin-top: 1rem;
  margin: 0 auto;
  &:hover {
    background-color: var(--light2);
  }
}

.threadTitle {
  margin-bottom: 0.5rem;
  transition: color 0.2s;
  &:hover,
  &:focus {
    color: var(--dark1);
  }
}

.deleteThreadButton {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--black);
  transition: color 0.2s;
  background-color: transparent;
  outline: none;
  padding: 0.5rem;
  border: none;
  &:hover {
    color: var(--warning);
    cursor: pointer;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}

.deleteX {
  outline: none;
  background-color: transparent;
}

.lastMessage {
    color: var(--black);
    opacity: .8;
}
