@import '../../styles/variables';
@import '../../styles/_breakpoints';

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  height: 100vh;
  background-image: linear-gradient(
    rgba(88, 57, 154, 0),
    rgba(73, 57, 154, 0.3)
  );
}

.postDetail {
  border: 2px solid var(--black);
  width: 80%;
  max-width: 500px;
  margin: 50px auto 0;
  padding: 0 2rem 1rem;
  background-color: white;
  opacity: 100%;
  // top: 50px;
}

.Comments {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  // border: 2px solid var(--black);
}

.ul {
  list-style: none;
}

.title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.typeHeader {
  font-size: 1.25rem;
}

.requestStyle {
  color: var(--dark2);
}

.offerStyle {
  color: var(--dark1);
}

.postedBy {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
}

.description {
  padding: 0 1rem 1rem 0.5rem;
  text-align: center;
}

.nameHeader {
}

.date {
  margin-top: -0.5em;
  text-align: center;
}

.commentsHeader {
  text-align: center;
  margin: 2rem auto 0;
}

.addCommentButton {
  display: block;
  margin: 0.5rem auto 2rem;
}

.dashboardLink {
  text-align: center;
  display: inline-block;
  width: 100%;
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
  }
}
