@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.Header {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  position: relative;
}

.loginLink,
.signUpLink {
  display: block;
  position: relative;
  margin: 1rem 2rem 0 0;
}

.loginDiv {
  display: flex;
  justify-content: flex-end;
}

.logoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.homeLink {
  font-weight: 800;
}

// .homeLink, .logoutLink {
//   display: inline-block;
//   position: absolute;
// }

// .homeLink {
//   font-weight: bold;
//   top: 1rem;
//   left: 1rem;
// }


a {
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
  }
}
