@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.Header,
.HeaderWithUnderline {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 2;
}
@include mobilePortrait {
  .Header {
    width: 95%;
  }
}

@include tabletLandscape {
  .Header {
    width: 80%;
  }
}

.HeaderWithUnderline {
  border-bottom: 2px solid var(--dark2);
  position: fixed;
  background-color: white;
  opacity: 1;
}

.loginLink,
.signUpLink {
  display: block;
  position: relative;
  margin: 1rem 2rem 0 0;
}

.signUpLink,
.loginLink {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
  }
}

.logoutLink,
.homeLink,
.threadsLink,
.directoryLink {
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
  }
}

@include mobileLandscape {
  .signUpLink,
  .loginLink {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.loginDiv {
  display: flex;
  justify-content: flex-end;
}

.logoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1rem;
  position: relative;
}

@include mobilePortrait {
  .logoutDiv {
    margin-top: 2px;
  }
}

@include mobileLandscape {
  .logoutDiv {
    margin-top: -2px;
  }
}

.homeLink {
  font-weight: 800;
  font-size: 1.2rem;
  position: relative;
  top: 0;
  left: 0.5rem;
  display: none;
}

@include mobilePortrait {
  .homeLink {
    display: inline-block;
  }
}

.headerIcon {
  display: inline-block;
  width: 36px;
  height: 36px;
  top: 0;
  left: 0.25rem;
  position: relative;
}

@include mobilePortrait {
  .headerIcon {
    display: none;
  }
}

a {
  color: var(--black);
  text-decoration: none;
}

.threadsLink {
  display: none;
}

.directoryLink {
  display: none;
}

.directoryLinkIcon {
  width: 26px;
  top: 2px;
  position: relative;
  opacity: 0.7;
}

.threadsLinkIcon {
  width: 24px;
  display: inline-block;
  margin-top: 0.3rem;
}

@include mobileLandscape {
  .directoryLink {
    display: inline-block;
  }

  .directoryLinkIcon {
    display: none;
  }

  .threadsLink {
    display: inline-block;
  }

  .threadsLinkIcon {
    display: none;
  }
}

.linksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  // top: 3px;
  width: 200px;
}

@include mobilePortrait {
  .linksContainer {
    width: 210px;
    top: 0;
  }
}

@include mobileLandscape {
  .linksContainer {
    width: 350px;
  }
}

.avatarImg {
  height: 30px;
  width: 30px;
  outline: none;
  border: none;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 4px;
}

@include mobileLandscape {
  .avatarImg {
    height: 36px;
    width: 36px;
  }
}
