@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.Header,
.HeaderWithUnderline {
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 2;
}

.HeaderWithUnderline {
  border-bottom: 2px solid var(--dark2);
  position: fixed;
  background-color: white;
  opacity: 1;
}

.loginLink,
.signUpLink {
  display: block;
  position: relative;
  margin: 1rem 2rem 0 0;
}

.signUpLink,
.loginLink {
  font-size: 1rem;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
  }
}

.logoutLink,
.homeLink,
.threadsLink {
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
  }
}

@include mobileLandscape {
  .signUpLink,
  .loginLink {
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.loginDiv {
  display: flex;
  justify-content: flex-end;
}

.logoutDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
}

@include mobilePortrait {
  .logoutDiv {
    padding: 1rem 2rem;
  }
}

.homeLink {
  font-weight: 800;
  font-size: 1.2rem;
  position: relative;
  top: 0;
}

a {
  color: var(--black);
  text-decoration: none;
}

.threadsLink {
  margin-bottom: 0.5rem;
  position: absolute;
  display: none;
}

.threadsLinkIcon {
  width: 20px;
  display: inline-block;
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}

@include mobilePortrait {
  .threadsLink {
    display: inline-block;
  }

  .threadsLinkIcon {
    display: none;
  }
}

.linksContainer {
  display: flex;
  flex-direction: row;
  // border: 1px solid red;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  position: absolute;
  top: 13px;
  right: 1rem;
  width: 85px;
}

@include mobilePortrait {
  .linksContainer {
    width: 175px;
    top: 20px;
  }

  .logoutLink {
margin-left: auto;  }
}
