@import '../../../styles/_variables';
@import '../../../styles/_breakpoints';

.name {
  display: inline-flex;
  margin-left: 0%;
  margin-right: 10%;
  margin-bottom: -1em;
}

.messageNeighborButton {
  padding: 0.25rem 0.5rem;
  color: var(--black);
  margin-left: 0.1rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.7rem;
  transition: color 0.2s;
  &:hover, &focus {
    color: var(--dark1);
    cursor: pointer;
  }
}

#deleteCommentButton {
  padding: 0.25rem 0.5rem;
  color: var(--black);
  margin-left: 0.1rem;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.7rem;
  transition: color 0.2s;
  &:hover, &focus {
    color: var(--warning);
    cursor: pointer;
  }
}

.commenterName {
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
  color: var(--dark2);
}

.commentDeleteContainer {
  display: flex;
  flex-direction: column;
}

.commentLi {
  margin-bottom: 1.5rem;
}

.datePosted {
  font-size: 0.9rem;
  font-style: italic;
  opacity: 0.5;
}

.content {
  word-wrap: break-word;
}
