@import '../../styles/_variables';
@import '../../styles/breakpoints';

.MessagesPage {
  text-align: center;
  min-height: 100%;
  top: 20px;
  position: absolute;
  width: 100%;
  justify-content: center;
}

.messagesContainer {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  max-height: 60vh;
}

.backButton {
  width: 50px;
  margin: 1.5rem auto 50px;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: var(--black);
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
    cursor: pointer;
  }
}
