@import '../../styles/variables';
@import '../../styles/_breakpoints';

.messageUserButton {
  color: var(--black);
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.2s;
  &:hover {
    color: var(--dark1);
    cursor: pointer;
  }
}
