
.Dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.addPostButton {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  margin: 4rem;
}

.bulletinContainer {
  border: 2px solid black;
  width: 80%;
  margin: 0 auto;
  height: 500px;
}

