@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.Dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcomeMessage {
  margin: 3.8rem auto 2rem;
  padding-top: 4rem;
  font-size: 1.5rem;
  border-top: 2px solid var(--dark2);
  width: 100vw;
  text-align: center;
}

.Button {
  text-align: center;
  padding: 0 2rem;
  margin: 4rem auto 4rem;
  border: 2px solid var(--black);
  background-color: var(--light1);
  transition: background-color 0.2s;
  &:hover {
    cursor: pointer;
    background-color: var(--neutral);
  }
}

.addPostButton {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.buttonText {
  font-family: Nunito;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--black);
}

.bulletinHeader {
  margin: 0.5rem auto 1rem;
  color: var(--black);
}

.bulletinContainer {
  border: 2px solid var(--dark1);
  width: 90%;
  margin: 0 auto;
  height: 100%;
  // background-color:var(--neutral);
}

@include mobilePortrait {
  .bulletinContainer {
    width: 80%;
  }
}

.bulletinColumnHeaders {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 2px solid var(--dark1);
}

.columnHeader {
  font-weight: 800;
  color: var(--black);
  margin: 0 1rem 0 0;
  text-align: center;
  border: 1px solid red;
}

.titleHeader {
  width: 350px;
  min-width: 315px;
  text-align: left;
}

@media (max-width: 600px) {
  .titleHeader {
    min-width: 150px;
  }
}

.typeHeader {
  min-width: 70px;
  display: none;
}

@media (min-width: 810px) {
  .typeHeader {
    display: inline-block;
  }
}

.commentsHeader {
  width: 120px;
  display: none;
}

@include tabletLandscape {
  .commentsHeader {
    display: inline;
  }
}

.postedByHeader {
  min-width: 90px;
  display: none;
}

@include tabletPortrait {
  .postedByHeader {
    display: inline-block;
  }
}

.datePostedHeader {
  width: 120px;
  min-width: 52px;
  margin-right: 0;
  display: inline-block;
}

// @media (min-width: 600px) {
//   .datePostedHeader {
//     display: inline-block;
//   }
// }

.posted {
  display: none;
}

@include tabletLandscape {
  .posted {
    display: inline-block;
  }
}
