@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.loginSection {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
    rgba(88, 57, 154, 0),
    rgba(73, 57, 154, 0.3)
  );
  height: 100vh;
  overflow-y: hidden;
  top: 20px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.loginContainer {
  padding-top: 40px;
}
