@import '../../styles/_variables';
@import '../../styles/_breakpoints';

.loginSection {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(#fff 20%, var(--light2) 100%);
  height: 100vh;
  overflow-y: hidden;
  top: 20px;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.loginContainer {
  padding-top: 40px;
}
