@import '../../styles/variables';
@import '../../styles/_breakpoints';

.svgCheckmark {
  width: 18px;
  transition: fill .2s;
  &:hover {
    fill: var(--dark1);
  }
}

@include mobileLandscape {
  .svgCheckmark {
    width: 24px;
    top: 1rem;
    right: 5.5rem;
  }
}

.svgCheckmark:hover {
  fill: var(--dark1);
}
